body
{
	font-size: 1em;
	background-color: #ffffeb;
	color: #a64b00;
}

section
{
	clear: both;
	margin-top: 2em;
	overflow: auto;
}

section p
{
	width: 60%;
	word-spacing: 0.2em;
	text-align: left;
	line-height: 1.4;
}

section figure
{
	margin: 0px;
	width: 25%;
}

section figure img
{
	width: 100%;
}

section figure figcaption
{
	font-size: 0.7em;
	text-align: justify;
}

em.devscola
{
	font-family: 'Quicksand';
	font-size: 1.2em;
	font-weight: bold;
	color:#94542a;
	font-style: normal;
}

.headline > .container > h1 {
	font-family: 'Quicksand';
}


a
{
	color: #a64b00;
}

abbr {
  letter-spacing: 0.1em;
}

.kerning{
	letter-spacing: -0.1em;
}

.kern{
	letter-spacing: -0.08em;
}

.header-image {
	background: none;
	background-color: #ffb273;
}

.navbar-inverse{
	background-color: #ffffeb;
	color: #a64b00;
}

.lead {
	font-size: 1.4em;
	word-spacing: 0.2em;
	text-align: left;
	line-height: 1.4;
}

.navbar-inverse .navbar-nav > li > a {
	color:#a64b00;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color:#a64b00;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #a64b00;
}

.text-muted {
color: #ff9640;
}

footer ul{
	font-size: 1.4em;
}