@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,700,800,400');

body {font-family:'Open Sans',sans-serif; background-color:#f9f9f9; color:#555; width:720px;}
a {color:#333;}
a:hover, a:focus {text-decoration:none; color:lightseagreen;}
h1,h2,h3,h4,h5,h6 {color:#1a1a1a; font-weight:800;}

#tinymce {font-size:16px; line-height:1.65em;}
#tinymce a {font-weight:bold; border-bottom:1px dotted #1a1a1a;}
#tinymce img {max-width:100%; height:auto;}
#tinymce p, #tinymce ul, #tinymce ol, #tinymce blockquote, #tinymce dl {margin-bottom:20px;}
#tinymce ul, #tinymce ol {padding:0;}
#tinymce ul ul, #tinymce ol ol {margin-top:20px;}
#tinymce li {margin:0 0 8px 16px;}
#tinymce h1, #tinymce h2, #tinymce h3, #tinymce h4, #tinymce h5, #tinymce h6 {margin-top:0; margin-bottom:30px;}
#tinymce h1 {font-size:32px;}
#tinymce h2 {font-size:28px;}
#tinymce h3 {font-size:25px;}
#tinymce h4 {font-size:22px;}
#tinymce h5 {font-size:19px;}
#tinymce h6 {font-size:16px;}
#tinymce blockquote {font-style:italic; padding:0.25em 40px; position:relative;}
#tinymce blockquote:before {font-family:Georgia,serif; display:block; content:"\201C"; font-size:80px; position:absolute; left:-8px; top:30px; color:#7a7a7a;}
#tinymce blockquote cite {color:#999999; font-size:14px; display:block; margin-top:5px;} 
#tinymce blockquote cite:before {content: "\2014 \2009";}
#tinymce table {width:100%; margin-bottom:30px}
#tinymce table td, #tinymce table th {border:1px solid #eee; padding:6px 8px;}
#tinymce table th {background-color:#f9f9f9;}
#tinymce dt {font-weight:bold;}
#tinymce dd {margin:0 0 8px 0;}
#tinymce .alignleft {float:left; margin:0 20px 20px 0;}
#tinymce .alignright {float:right; margin:0 0 20px 20px;}
#tinymce .aligncenter {margin:auto; text-align:center;}
#tinymce .wp-caption {max-width:100%;}
#tinymce .wp-caption-text, .gallery-caption {color:#777; font-size:15px;}