/*Base Colors*/

$vibrant-orange: #ff4214;
$dark-grey: #2e2e2e;
$light-grey: #4d4d4d;


/*Alpha-colors*/
$vibrant-a-orange:rgba(255, 66, 20, 0.4);;
$dark-a-grey: rgba(46, 46, 46, 0.4);
$light-a-grey: rgba(77, 77, 77, 0.4);