
/*typography*/

body {
	background: #FFF7F5;
	color: #292929;
	font-family: 'dejavu_sansbook';	
}



h2 {
	font-family: 'dejavu_sansextralight';
	font-size: 5rem;
	margin-top: 5rem;
	line-height: 7rem;
}

h3 {
	font-family: 'dejavu_sansbold';
	font-size: 1.1rem;
	line-height: 1rem;
	letter-spacing: -0.05rem;
	word-spacing: -0.03rem;
}

p {
font-size: 0.9rem;
line-height: 1.5rem;
}

#claim {
font-family: 'dejavu_sansbold';
font-size: 4.2rem;
line-height: 3.8rem;
color: #ff4214;
margin: 1.4rem 0 0rem 0;
letter-spacing: -0.2rem;
word-spacing: -0.2rem;
}

/*grid*/

#inicio {
margin: 13rem 0 45rem 0;
}

.align-left {
  padding-left: 0px;
}

.row {
	margin-top: 5rem;
}


/*top bar*/

.logo p{
	color: #fff;
	margin: 0.7rem 0 0 0.8rem;
	font-size: 1.2rem;
}

.top-bar-section .divider,
.top-bar-section [role="separator"] {
 border-right: solid 1px #ff4214 !important;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: #ff4214;
}

.top-bar-section ul li > a {
font-family: 'dejavu_sansextralight';
}

/*footer*/

 footer {
	background: #ff4214;
	height: 5rem;
	margin-top: 3rem;

}