
/*typography*/

body {
	background: #FFF7F5;
	color: #292929;
	font-family: 'dejavu_sansbook';	
}



h2 {
	font-family: 'dejavu_sansextralight';
	font-size: 5rem;
	margin: 2rem 0 0.5rem 0 !important;
	line-height: 7rem;
	letter-spacing: 0.25rem;

}

h3 {
	font-family: 'dejavu_sansbold';
	font-size: 1.1rem;
	line-height: 1rem;
	letter-spacing: -0.05rem;
	word-spacing: -0.03rem;
}

h4 {
	font-family: 'dejavu_sansextralight';
	font-size: 3rem;
	margin-bottom: 0.3rem;
	letter-spacing: 0.05rem;

	
}

h5 {
	font-size: 1rem;
	font-family: 'dejavu_sansextralight';
	letter-spacing: 0.05rem;
	line-height: 1rem;
	margin: 0 0 0.1rem 0;
}

p {
font-size: 0.9rem;
line-height: 1.5rem;
margin-bottom: 2rem
}


@media only screen and (min-width : 768px) and (max-width : 1024px) {

	h2 {
		font-family: 'dejavu_sansextralight';
		font-size: 4rem;
		margin: 2rem 0 0.5rem 0 !important;
		line-height: 5.5rem;
		letter-spacing: 0.15rem;

	}

	h3 {
		font-family: 'dejavu_sansbold';
		font-size: 1rem;
		line-height: 0.95rem;
		letter-spacing: -0.025rem;
		word-spacing: -0.03rem;
	}

	h4 {
		font-family: 'dejavu_sansextralight';
		font-size: 2.5rem;
		margin-bottom: 0.2rem;
		letter-spacing: 0.025rem;

		
	}

	h5 {
		font-size: 0.85rem;
		font-family: 'dejavu_sansextralight';
		letter-spacing: 0.05rem;
		line-height: 0.85rem;
		margin: 0 0 0.1rem 0;
	}

	p {
	font-size: 0.85rem;
	line-height: 1.35rem;
	margin-bottom: 1.8rem
	}
}

/*grid*/

.row {
	max-width: 75%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.row {
	max-width: 90%;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.row {
	max-width: 90%;
}
}





#inicio {

	position: absolute;
	margin:auto;
	top:40%;
	left:22.5%;
	
	max-width: 50%;

	z-index: 1;
	
}




.align-left {
  padding-left: 0px;
}

.align-right {
  padding-right: 0px;
}


.columns.left_column {
    padding-left: 0px ;
    padding-right: 2%
}

.columns.right_column {
    padding-right: 0px;
    padding-left: 2%
  }

.columns.center_column {
    padding-right: 1%;
    padding-left: 1%;
  }



img {
	height: 100%;
	width: 100%;
}




@media only screen and (min-width : 768px) and (max-width : 1024px) {
#WHO-PICS > div > div> img {
	height: 85%;
	width: 85%;
}
}


.logo-track {
	
	margin-top: 3rem;
	margin-bottom: 0.5rem;
	height: 75%;
	width: 75%;
}



button, .button {

  background-color: #ff4214;
  border-color: #007095;
  color: #FFFFFF; }

	button.large, .button.large {
		
	    padding-top: 1.125rem;
	    padding-right: 1.75rem;
	    padding-bottom: 1.1875rem;
	    padding-left: 1.75rem;
	    font-size: 1rem; }
	  button.large.social_button, .button.large.social_button {  
	  		width: 100%;
	  		text-align: center;
	  		line-height: 2rem;
	  	}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #292929; }
button:hover, button:focus, .button:hover, .button:focus {
  color: #FFFFFF; }


@media only screen and (min-width : 768px) and (max-width : 1024px) {
button.large, .button.large {
		
	    padding-top: 0.90rem;
	    padding-right: 1rem;
	    padding-bottom: 0.90rem;
	    padding-left: 1rem;
	    font-size: 0.80rem; }
	  
}


/*social*/

#SOCIAL > div.large-4.columns.right_column > {

	
}


#SOCIAL > div > h4 {
	margin-top: 3rem;
}

#twitter_feed {
	margin-top: 5rem;
}

/*.flex-video {
	padding-bottom:25%;
}*/



/*top bar*/

meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:880px/";
  width: 880px;
}

@media only screen and (min-width: 880px) {
  .top-bar {
    background: #333333;
    overflow: visible; }
}


@media only screen and (min-width: 880px) {
.logo p{
  	color: #fff;
  	margin: 0.7rem 0 0 0.8rem;
  	font-size: 1.2rem;
  	}

}

@media only screen and (max-width: 879px) {
	.logo p{
		color: #fff;
		margin:0;
		padding: 0.7rem 0 0.7rem 0.8rem;
		font-size: 1.2rem;
	}
}


.top-bar-section .divider,
.top-bar-section [role="separator"] {
 border-right: solid 1px #ff4214 !important;
 border-top: solid 1px #ff4214 !important;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: #ff4214;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: #292929;
	font-family: 'dejavu_sansbook';
}

.top-bar-section ul li > a {
font-family: 'dejavu_sansextralight';
}

/*footer*/

footer {
	background: #ff4214;
	height: 7rem;
	margin-top: 3rem;
	line-height: 1.2rem;


}

img.foot_logo  {
	margin: 2.2rem 0 0.3rem 0;
	width: auto !important;
}

.foot_text p, .foot_text a {

	line-height: 0.8rem;
	color:#fff;
	margin: 2.2rem 0 0 0 ;

}

img.in_button {

	margin: 0;
	height: 2rem;
	width: auto ;

}

.foot_text p {

	font-size:0.9rem;
	font-family: 'dejavu_sansextralight'
}

.foot_text a {
	font-family: 'dejavu_sansbold';
	line-height: 0.2rem;
	font-size: 0.9rem;
	letter-spacing: -0.025rem;
	word-spacing: -0.025rem;

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {


.foot_text p {
	line-height: 0.5rem;
	}

.foot_text a {

	line-height: 0.05rem;
	font-size: 0.85rem;
	}
}


#MAIL {
	display:block;
	margin-top: 0.3rem;
}

/* owl carousel*/

.owl-carousel {
	position: relative;
}

.owl-carousel .owl-item {

	padding: 0 0.5rem;
}

#owl-landing > div.owl-wrapper-outer.autoHeight > div > div{

	padding: 0;
}

.owl-theme .owl-controls .owl-page span {

	width: 0 !important;
	height: 0 !important;
}

.owl-theme .owl-controls .owl-buttons div {

	border-radius: 0px !important;

}

.owl-pagination {

	height: 0 !important;
}

.owl-theme .owl-controls .owl-buttons div {

	background: #ff4214 !important;
	opacity: 1 !important;
	font-size: 1rem !important;
	font-family: 'dejavu_sansextralight';
	padding:0.5rem 0.75rem !important;
	
}

.owl-theme .owl-controls .owl-buttons div:hover {

	background: #292929 !important;
}

