/* typography */

body {
  background: #FFF7F5;
  color: #292929;
  font-family: 'dejavu_sansbook';
}

h2 {
  font-family: 'dejavu_sansextralight';
  font-size: 5rem;
  margin: 2rem 0 0.5rem 0 !important;
  line-height: 7rem;
  letter-spacing: 0.25rem;
}

h2.paragraph {
 margin-bottom: 1.5rem 0 !important;
 line-height: 5.5rem;
}

h2.paragraph.with_opening {
 margin-bottom: 0.5rem !important;
}

h3 {
  font-family: 'dejavu_sansbold';
  font-size: 1.1rem;
  line-height: 1rem;
  letter-spacing: -0.05rem;
  word-spacing: -0.03rem;
}

h4 {
  font-family: 'dejavu_sansextralight';
  font-size: 3rem;
  margin-bottom: 0.3rem;
  letter-spacing: 0.05rem;
}

h5 {
  font-size: 0.9rem;
  font-family: 'dejavu_sansextralight';
  letter-spacing: 0.05rem;
  line-height: 1rem;
  margin: -0.2rem 0 0.1rem 0;
}

p {
  font-size: 0.9rem;
  line-height: 1.6rem;
  margin-bottom: 2rem;
 
}

strong {
font-size: inherit;
font-family: 'dejavu_sansbold';
letter-spacing: -0.01rem;
word-spacing: -0.08rem;
}

a {
  color: #ff4214;
  font-family: 'dejavu_sansbold';
  letter-spacing: -0.03rem;
  word-spacing: -0.08rem;
}

a:hover {
  color: #292929 ;
}

@media screen and (min-width : 1024px) and (max-width : 1600px) {

  h2 {
    font-family: 'dejavu_sansextralight';
    font-size: 4.5rem;
    margin: 2rem 0 0.5rem 0 !important;
    line-height: 6rem;
    letter-spacing: 0.25rem;
    }
  
  h2.paragraph {
    margin-bottom: 1.3rem !important;
    line-height: 5rem;
  }

  h2.paragraph.with_opening {
    margin-bottom: 0.7rem !important;
  }

  p {
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
  }

}

@media screen and (min-width : 800px) and (max-width : 1024px) {
  h2 {
    font-family: 'dejavu_sansextralight';
    font-size: 4rem;
    margin: 2rem 0 0.5rem 0 !important;
    line-height: 5.5rem;
    letter-spacing: 0.15rem;
  }

  h2.paragraph {
    margin-bottom: 1.3rem !important;
    line-height: 4rem;
  }


  h2.paragraph.with_opening {
    margin-bottom: 0.7rem !important;
  }

  h3 {
    font-family: 'dejavu_sansbold';
    font-size: 1rem;
    line-height: 0.95rem;
    letter-spacing: -0.025rem;
    word-spacing: -0.03rem;
  }

  h4 {
    font-family: 'dejavu_sansextralight';
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
    letter-spacing: 0.025rem;
  }

  h5 {
    font-size: 0.85rem;
    font-family: 'dejavu_sansextralight';
    letter-spacing: 0.05rem;
    line-height: 0.85rem;
    margin: -0.2rem 0 0.2rem 0;
  }

  p {
    font-size: 0.85rem;
    line-height: 1.55rem;
    margin-bottom: 1.8rem;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
  }

  strong {
  font-size: inherit;
  }
}

@media screen and (min-width : 640px) and (max-width : 800px) {
  h2 {
    font-family: 'dejavu_sansextralight';
    font-size: 3.5rem;
    margin: 2rem 0 1rem 0 !important;
    line-height: 3.15rem;
    letter-spacing: 0.05rem;
  }

  h2.paragraph {
    margin-bottom: 0.6rem !important;
    line-height: 3.7rem;
  }

  h2.paragraph.with_opening {
    margin-bottom: 0.5rem !important;
  }


  h3 {
    font-family: 'dejavu_sansbold';
    font-size: 1rem;
    line-height: 0.90rem;
    letter-spacing: -0.015rem;
    word-spacing: -0.03rem;
  }

  h4 {
    font-family: 'dejavu_sansextralight';
    font-size: 2.3rem;
    margin-bottom: 0.2rem;
    letter-spacing: 0.020rem;
  }

  h5 {
    font-size: 0.85rem;
    font-family: 'dejavu_sansextralight';
    letter-spacing: 0.025rem;
    line-height: 0.50rem;
    margin: 0 0 0.50rem 0;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
  }

  strong {
  font-size: 0.85rem;
  letter-spacing: 0.01rem;
  word-spacing: -0.08rem;
  }
}

@media screen and (min-width : 360px) and (max-width : 640px) {
  h2 {
   font-family: "dejavu_sansextralight";
   font-size: 2.5rem;
   margin: 2rem 0px 0.7rem !important;
   line-height: 3rem;
   letter-spacing: 0.02rem;;
  }

  h2.paragraph {
    margin-bottom: 0.6rem !important;
    line-height: 2.8rem;
  }

  h2.paragraph.with_opening {
    margin-bottom: 0.5rem !important;
  }

  h3 {
    font-family: 'dejavu_sansbold';
    font-size: 1rem;
    line-height: 0.90rem;
    letter-spacing: -0.015rem;
    word-spacing: -0.03rem;
  }

  h4 {
    font-family: 'dejavu_sansextralight';
    font-size: 2.3rem;
    margin-bottom: 0.2rem;
    letter-spacing: 0.020rem;
  }

  h5 {
    font-size: 0.85rem;
    font-family: 'dejavu_sansextralight';
    letter-spacing: 0.025rem;
    line-height: 0.50rem;
    margin: 0 0 0.50rem 0;
  }

  p {
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
    line-height: 1.65rem;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
  }

  strong {
  font-size: inherit;
  }
}

@media screen and (max-width : 360px) {
  h2 {
    font-family: 'dejavu_sansextralight';
    font-size: 2rem;
    margin: 1rem 0 0.5rem 0 !important;
    line-height: 2.5rem;
    letter-spacing: 0.01rem;
  }

  h2.paragraph {
    margin-bottom: 0.6rem !important;
    line-height: 2.3rem;
  }

  h2.paragraph.with_opening {
    margin-bottom: 0.5rem !important;
  }

  h3 {
    font-family: 'dejavu_sansbold';
    font-size: 0.85rem;
    line-height: 0.85rem;
    letter-spacing: -0.01rem;
    word-spacing: -0.015rem;
  }

  h4 {
    font-family: 'dejavu_sansextralight';
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
    letter-spacing: 0.010rem;
  }

  h5 {
    font-size: 0.80rem;
    letter-spacing: 0.015rem;
    line-height: 0.70rem;
    margin-bottom: 0.35rem;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  }

  strong {
  font-size: inherit;
  }
}


/* grid */

.row {
  max-width: 75%;
}

@media screen and (min-width : 320px) and (max-width : 1024px) {
  .row {
    max-width: 90%;
  }
}

.total-align {
  padding-left: 0;
  padding-right: 0;
}

.align-left {
  padding-left: 0;
}

.align-right {
  padding-right: 0;
}

@media screen and (min-width : 320px) and (max-width : 640px) {

  .align-right {
    padding: 0;
  }
  .align-left {
    padding: 0;
  }
}
.columns.left_column {
  padding-left: 0 ;
  padding-right: 2%;
}

.columns.right_column {
  padding-right: 0;
  padding-left: 2%;
}

.columns.center_column {
  padding-right: 1%;
  padding-left: 1%;
}

@media screen and (max-width : 600px){

  .small-12.columns.left_column {
    padding-right: 0;
  }

  .small-12.columns.right_column {
    padding-left: 0;
  }

  .small-12.columns.center_column {
    padding-right: 0;
    padding-left: 0;
  }
}


/* INICIO */

#inicio {
  position: absolute;
  margin:auto;
  top:44%;
  left:28%;
  z-index: 1;
}


@media screen and (max-width : 320px){
  #inicio {
    top: 21%;
    left: 5%;
    max-width: 90%;
  }
}

@media screen and (min-width : 321px) and (max-width : 360px){
  #inicio {
    top: 17%;
    left: 5%;
    max-width: 90%;
  }
}

@media screen and (min-width : 361px) and (max-width : 480px){
  #inicio {
    top: 39%;
    left: 7%;
    max-width: 85%;
    
  }
}

@media screen and (min-width : 481px) and (max-width : 600px){
  #inicio {
    top: 13%;
    left: 7%;
    max-width: 85%;

  }
}

@media screen and (min-width : 601px) and (max-width : 640px){
  #inicio {
    top: 36%;
    left: 7%;
    max-width: 85%;

  }
}

@media screen and (min-width : 641px) and (max-width : 768px){
  #inicio {
    top: 19%;
    left: 7.5%;
    max-width: 85%;

  }
}

@media screen and (min-width : 769px) and (max-width : 800px){
  #inicio {
    top: 16%;
    left: 7.5%;
    max-width: 85%;
  }
}

@media screen and (min-width : 801px) and (max-width : 900px){
  #inicio {
    top: 14%;
    left: 8%;
    max-width: 80%;
  }
}

@media screen and (min-width : 901px) and (max-width : 1024px){
  #inicio {
    top: 35%;
    left: 10%;
    max-width: 80%;
  }
}

@media screen and (min-width : 1025px) and (max-width : 1280px){
  #inicio {
    top: 45%;
    left: 16%;
  }
}

@media screen and (min-width : 1281px) and (max-width : 1600px){
  #inicio {
    top: 40%;
    left: 22%;
    max-width: 95%;
  }
}

@media screen and (min-width : 1601px) {
  #inicio {
    top: 42%;
    left: 25%;
    max-width: 95%;
  }
}

/* QUIENES */


img {
  height: 100%;
  width: 100%;
}

#quienes img {
  border-radius: 100%; 
}

#quienes h3, #quienes h5, 
#quienes > div > div.large-4.medium-4.small-12 > p {
  text-align: center !important;
}

#quienes > div > div > img {
  margin-bottom:1.3rem;
}


@media screen and (max-width: 40em) {
  #quienes > div > div.large-4.medium-4.small-12.columns.left_column > img {
    margin-top: 0;
  }
}

@media screen and (min-width: 40.063em) {
  #quienes > div > p {
    margin-bottom: 0rem;
  }
}


/*TRACKS*/



#contenido > div > div > p,
#contenido > div > div > h4 {
  text-align: center;
}

#contenido > div > div > h4 {
  margin-top: 1rem;
}

@media screen and (min-width : 1600px) and (max-width: 1920px){
.logo-track {
  
  margin-top: 2.5rem;
  padding: 0rem 6rem;
}
}

@media screen and (min-width : 1024px) and (max-width : 1600px) {
.logo-track {
  
  margin-top: 2rem;
  padding: 0rem 3rem;
}
}

@media screen and (min-width : 640px) and (max-width : 1024px) {
.logo-track {
  
  margin-top: 2rem;
  padding: 0rem 3rem;
}
}

@media screen and (min-width : 480px) and (max-width : 640px) {
.logo-track {
  
  margin-top: 2rem;
  padding: 0rem 12rem;
}
}

@media screen and (min-width : 360px) and (max-width : 480px) {

.logo-track {
  
  margin-top: 2rem;
  padding: 0rem 9rem;
}
}
@media screen and (min-width : 320px) and (max-width : 360px) {

.logo-track {
  
  margin-top: 2rem;
  padding: 0rem 6rem;
}
}


/* buttons */

button, .button {
  background-color: #ff4214;
  border-color: #007095;
  color: #FFFFFF;
}

button.large, .button.large {
  padding-top: 1.125rem;
  padding-right: 1.75rem;
  padding-bottom: 1.1875rem;
  padding-left: 1.75rem;
  font-size: 1rem;
}

button.large.social_button, .button.large.social_button {
  width: 100%;
  text-align: center;
  line-height: 2rem;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #292929;
}

button:hover, button:focus, .button:hover, .button:focus {
  color: #FFFFFF;
}

@media screen and (min-width : 480px) and (max-width : 1024px) {
  button.large, .button.large {
    padding-top: 0.90rem;
    padding-right: 1rem;
    padding-bottom: 0.90rem;
    padding-left: 1rem;
    font-size: 0.80rem;
  }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
  button.large, .button.large {
    padding-top: 0.90rem;
    padding-right: 1rem;
    padding-bottom: 0.90rem;
    padding-left: 1rem;
    font-size: 0.80rem;
  }

  #SPONSOR > div > div > a, #JOIN > div > div > a {
    width: 100%;
  }

  button.large.social_button, .button.large.social_button {
    padding: 0.65rem 0.5rem 0.5rem 0.5rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
  }

  #SOCIAL > div > div > a > div > img {
    margin-bottom: 0.3rem;
  }
}


/* social */

#SOCIAL > div > h4 {
  margin-top: 3rem;
}

#twitter_feed {
  margin-top: 5rem;
}

/*.flex-video {
padding-bottom:25%;
}*/


/* top bar */

meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:880px/";
  width: 880px;
}

@media screen and (min-width: 880px) {
  .top-bar {
    background: #333333;
    overflow: visible;
  }
}

.logo a p {
  font-family: 'dejavu_sansbook';
  letter-spacing: 0;
  word-spacing: 0;
}

@media screen and (min-width: 880px) {
.logo a p {
    color: #fff;
    margin: 0.7rem 0 0 0.8rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 879px) {
  .logo a p {
    color: #fff;
    margin:0;
    padding: 0.7rem 0 0.7rem 0.8rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .logo a p {
    padding: 0.7rem 0 1rem 0.8rem;
  }

  .top-bar .toggle-topbar.menu-icon a {
    height:30px;
  }
}

.top-bar-section .divider,
.top-bar-section [role="separator"] {
  border-right: solid 1px #ff4214 !important;
  border-top: solid 1px #ff4214 !important;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #ff4214;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #292929;
  font-family: 'dejavu_sansbook';
}

.top-bar-section ul li > a {
  font-family: 'dejavu_sansextralight';
  letter-spacing: 0;
  word-spacing:0;
}


/* footer */

footer {
  background: #ff4214;
  height: auto;
  margin-top: 3rem;
  line-height: 1.2rem;
}

#MAIL {
  text-align: center; 
  display:block;
  margin-top: 0.5rem;
  line-height: 0.8rem;
  color:#fff;
  font-family: 'dejavu_sansbold';
  line-height: 0.2rem;
  font-size: 0.9rem;
  letter-spacing: -0.025rem;
  word-spacing: -0.025rem;
}

#MAIL:hover, #MAIL:focus {

  color: #292929;
}



img.foot_logo  {

  text-align: center;
  padding: 0px 48%;
  margin: 2.4rem 0 0.3rem 0;
  width: 100% !important;
}


@media screen and (max-device-width : 360px) {
  img.foot_logo  {
  padding: 0px 42%;
  margin: 1.5rem 0 0.3rem 0;
  }
}

@media screen and (min-device-width : 361px) and (max-device-width : 480px) {
  img.foot_logo  {
  padding: 0px 43%;
  margin: 1.5rem 0 0.3rem 0;
  }
}

@media screen and (min-device-width : 481px) and (max-device-width : 640px) {
  img.foot_logo  {
  padding: 0px 45%;
  margin: 1.5rem 0 0.3rem 0;
  }
}

@media screen and (min-device-width : 641px) and (max-device-width : 800px) {
  img.foot_logo  {
  padding: 0px 46%;
  margin: 1.5rem 0 0.3rem 0;
  }
}

@media screen and (min-device-width : 801px) and (max-device-width : 900px) {
  img.foot_logo  {
  padding: 0px 46.5%;
  margin: 1.5rem 0 0.3rem 0;
  }
}

@media screen and (min-device-width : 901px) and (max-device-width : 1280px) {
  img.foot_logo  {
  padding: 0px 47%;
  margin: 1.5rem 0 0.3rem 0;
  }
}

@media screen and (min-device-width : 1281px) and (max-device-width : 1600px) {
  img.foot_logo  {
  padding: 0px 47.5%;
  margin: 1.5rem 0 0.3rem 0;
  }
}

/* owl carousel */

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-item {
  padding: 0 0.5rem;
}

#owl-landing > div.owl-wrapper-outer.autoHeight > div > div{
  padding: 0;
}

.owl-theme .owl-controls .owl-page span {
  width: 0 !important;
  height: 0 !important;
}

.owl-theme .owl-controls .owl-buttons div {
  border-radius: 0 !important;
}

.owl-pagination {
  height: 0 !important;
}

.owl-theme .owl-controls .owl-buttons div {
  background: #ff4214 !important;
  opacity: 1 !important;
  font-size: 1rem !important;
  font-family: 'dejavu_sansextralight';
  padding:0.5rem 0.75rem !important;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  background: #292929 !important;
}

@media screen and (min-device-width : 641px) and (max-device-width : 800px) {
#owl-landing.owl-carousel {
  top: -1%;
}
}